<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sc.variable name="experienceGeneratorSource" value="C:\Websites\Experience Generator\xGenerator" />
    <settings>
      <setting name="Rainbow.SFS.SerializationFolderPathMaxLength" value="152" patch:instead="*[@name='Rainbow.SFS.SerializationFolderPathMaxLength']" />
    </settings>
  </sitecore>
</configuration>